body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}
.titul{
    text-align: center;
}
h2{
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #368cd3;
    border-radius: 4px;
    width: 500px;
    margin: 10px;
    margin-left: 33%;
}
input #buscar{
    padding: 8px;
    border: 1px solid #368cd3;
    border-radius: 4px;
    width: 500px;
    margin: 10px;
    margin-left: 33%;
}

button {
    background-color: #368cd3;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #1f527c;
}

ol {
    background-color: white;
    border-radius: 5px;
    width: 700px;
    padding: 5px;
    margin: 30px auto;
}

li {
    padding: 5px;
    margin: 15px;
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-left: 35px;
}
a{
    margin-right: 5px;
    text-decoration: none;
}

#llista {
    list-style-type: none;
    padding-left: 0;
}

#mensajeError {
    font-size: 14px;
    margin-left: 10px;
}

button#torna{
    margin-left: 45%;
    width: 100px;
    height: 35px;
    background-color: #235b8a;
}

button#torna:hover {
    background-color: darkred;
}