#missatgeError{
    color: red;
    text-align: center;

}
#nomProducte{
    color:black;
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}

.centrarguardar{
    display: flex;
    justify-content: center;
    align-items: center;  
      gap: 20px; 
    margin-top: 30px;
}
.centrarcrear{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 30px;
}

.element_main {
    position: relative; 

}

.autocomplete-list {
    position: absolute;
    left: 100;
    min-width: 94%;    
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    display: none;
    z-index: 9999;
}


.autocomplete-item {
    padding: 6px 10px;
    cursor: pointer;
    color: black  ; 

}

.autocomplete-item:hover {
    background: #eee;
    
}






