/* Colors i estils per defecte */

:root {
    --color-primari : #539041;
    --color-secundari : #47488e;
    --color-terciari : #f6b01f;
    --color-quaternari : #ececec;
    --color-boto-netejar : #94949d;
    --color-general-lletra : #ffffff;
    --color-vores : #495057;
}

* {
    font-family: Roboto;
    color: var(--color-general-lletra);
}

/* Estils del header */

.contingut {
    margin: 30px;
}

.centrar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_hamburguesa {
    display: none;
}

#logotip {
    display: flex;
    align-items: center;
}

#logotip img {
    width: 100px;
    padding: 7px;
    margin-left: 10px;
}

#sessioUsuari {
    display: flex;
}

.headerUsuari {
    display: flex;
    align-items: center;
    color: var(--color-secundari);
}

.headerUsuari img {
    width: 80px;
    border-radius: 250px;
    margin-right: 15px;
}

.separador {
    padding: 15px;
    padding-left: 12px;
    padding-right: 0px;
    border-right: 1px solid #808080;
}

.tancarSessio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 27px;
}

.tancarSessio i, .headerUsuari span  {
    color: var(--color-secundari);  
}

.iconaTancarSessio {
    margin-left: 15px;  
}
/* Estils dels filtres i dels botons de cambiar de pagina */

button {
    background-color: var(--color-secundari);
}

#opcions {
    padding-top: 20px;
    padding-left: 30px;
}

#opcions button {
    margin-right: 10px;
}

/* Estils nous */

h1, h2, h3 {
    color:var(--color-secundari);
}

.contingut_main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    background-color: var(--color-quaternari);
    padding-bottom: 15px;
}

.element_main {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 14px;
}

.element_main input {
    margin-top: 13px;
    padding-left: 12px;
}

.botons_accio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    padding-right: 14px;
    margin-top: -2px;
}

button:hover {
    font-weight: bold;
}

button i {
    padding-right: 24px;
}

.cercar {
    background-color: var(--color-terciari);
}

.netejar {
    background-color: var(--color-boto-netejar);
}

.netejar i {
    font-size: 0.75em;
}

form {
    padding-top: 10px;
}

/* Estils titol de la página */

.pagina {
    background-color: var(--color-secundari);
}

.pagina p {
    padding: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

/* Estils per al main */

#menu_lateral {
    display: block;
    background-color: var(--color-primari);
    min-height: 85vh;
}

.opcio_menu {
    display: block;
}

.opcio_menu, .opcio_seleccionada {
    text-decoration: none;
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid white;
}

.opcio_menu:hover {
    background-color: var(--color-secundari);
    font-weight: bold;
}

.opcio_menu i {
    padding-right: 22px;
}

.opcio_seleccionada {
    background-color: var(--color-secundari);
}

.opcio_seleccionada i {
   margin-right: 5px;
}

.eixir_menu {
    display: none;
}

/* Si l'ample de la pantalla es menor o igual a 767px */
@media only screen and (max-width: 767px) {

    /* Estils del header en telefon */

    #menu_hamburguesa {
        display: flex;
    }

    #menu_hamburguesa i {
        color: var(--color-secundari);
        font-size: 2.5em;
        padding-left: 15px;
    }

    .headerUsuari img {
        width: 65px;
    }

    .tancarSessio, .headerUsuari span {
        display: none;
    }

    /* Estils menú lateral */

    #menu_lateral {
        display: none;
        position: absolute;
        left: 0;
        top: 20;
        z-index: 2;
        height: 100%;
    }

    .eixir_menu {
        display: block;
        padding-left: 5px;
    }
}

/* Estils generals */

input {
    padding: 6px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-vores);
    color: black;
}

button {
    border-radius: 5px;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

label {
    color : var(--color-secundari);
}

.filtre_select {
    width: 100%;
    margin-top: 12px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid var(--color-vores);
    padding: 6px;
    padding-left: 12px;
}

.filtre_select option {
    background-color: white;
}